table
{
  border-radius: var(--border-radius);
  overflow: hidden;
  max-width: 85vw;
}

td, th {
  padding: var(--spacing-medium);
  border: 1px solid;
}

th:not(:first-child), td:not(:first-child) {
  text-align: left;
}

th {
  color: var(--grey-3);
  font-weight: 700;
  white-space: nowrap;
/*    {
    white-space: wrap;
  } */
}

tr th {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: var(--grey-1);
}
